@model IEnumerable<ProjectStore.Models.Certification>

@{
    ViewData["Title"] = "Certificat List";
}

<h1>Certificat List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card-deck">
    @foreach (var certification in Model)
    {
        var photoPath = "~/images/" + (certification.PhotoPath ?? "noimage.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h5><b>Name : </b> @certification.CertificationName</h5>
                <h5><b>Description :</b>@certification.Description</h5>
                <h5><b>Price :</b> @certification.Price</h5>
                <h5><b>Categorie :</b> @certification.Categorie.CategorieName</h5>
            </div>

            <img class="card-img-top imageThumbnail" src="@photoPath"
                 asp-append-version="true" />

            <div class="card-footer text-center">
                <a asp-controller="Certification" asp-action="Details" asp-route-id="@certification.CertificationId"
                   class="btn btn-primary m-1">View</a>
                <a asp-action="Edit" asp-controller="Certification" class="btn btn-primary m-1" asp-route-id="@certification.CertificationId">Edit</a>
                <a asp-action="Delete" asp-controller="Certification" class="btn btn-danger m-1" asp-route-id="@certification.CertificationId">Delete</a>
            </div>
        </div>
    }
</div>